:root {
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;

    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;

    --bs-radius: 5px;

    --bs-dark-rgb: 60, 60, 60;
    --bs-light-rgb: 248, 249, 250;

    --bs-navbar-bgcolor: var(--bs-light-rgb);

    --bs-dropdown-bg: #fafafa;
    --bs-dropdown-link-hover-bg: #e9ecef;

    --bs-link-color: #0a58ca;
}